*{margin: 0 ; padding: 0;}

.auto1{width: 1200px; height: 73px; margin: auto; }
.header{width: 100%; height: 73px;/* border: 1px solid red;*/ background-color: #ffffff; cursor: pointer;}
.header ul{list-style: none; line-height: 73px;  display: block;clear: both;content: ".";}
.header ul li{ float: left; }
.header a{text-decoration: none; color: #2c2c2c; font-size: 16px; font-family: "微软雅黑";}
.header1{width: 100%; height: 40px; background-color: #d8d8d8;}
.chanpin{margin: auto; width: 1200px; height: 36px; font-size: 16px; color: #8D8D8D; line-height: 36px;}
.tu1{width: 163px; height: 72px; }
.zi{margin-left: 55px; }
.tu2{width: 137px; height: 72px;margin-left: 220px;}
.tu2 img{margin-top: -2px;}
#a{margin-top: 23px; margin-left: 65px; background-color: #007f41; width: 100px; height:30px; line-height: 30px; text-align: center;}
/*中间*/
.main{ width: 100%; height: 1440px; background-color: #f1f1f1;}
.main_auto{display: flex;justify-content: space-between; margin: auto;  width: 1200px; height: 1389px; }
.left{width: 231px; height: 100%; }
.you{width: 900px; height: 100%;}
.left1{margin-top: 611px; width: 231px; height: 53px; line-height: 53px;}
.left1a{display: inline-block;width: 82px; height: 45px; font-size: 33px; line-height: 45px;}
.left1b{display: inline-block;width: 82px; height: 45px; font-size: 17px;line-height: 65px;}
.left2{margin-top: 50px; width: 231px; height: 3px; background-color: #2C2C2C;}
.left3{margin-top: 50px; width: 231px; height: 155px; font-size: 14px;}
.you1{ width: 897px; height:604 px;}
.you2{ margin-top: 20px; width: 100%; height: 1px; background-color: #888888;}
.you3{margin-top: 20px; width: 897px; height: 640px; }
.you4{ width: 201px; height: 46px; line-height: 46px; font-size: 14px; color: #888888;}




/*底部*/
.foot{ width: 100%; height: 330px; background-color: #f4f4f4; }
.auto7{width: 1200px; height: 330px; margin: auto;}
.foota{ height: 270px; width: 100%;background-color: #f4f4f4; }
.footb{ width: 100%; height: 59px; background-color: #888888;}
.footc{float: left;}
.foot ul{margin-top: 30px; list-style: none; }
.foot li{ margin-top: 13px;}
.footc1{font-size: 18px; }
.footc2{font-size: 20px; color: #4c9786;}
.footc4 div{width: 142px; height: 1px; background-color: #338c79;}
.footc3{line-height: 20px;  font-size: 13px; width: 360px; height: 20px; }


.xiao{margin-left: 20px; margin-top: -27px; line-height: 22px; /*display: inline;*/ width: 300px; height: 22px;  }
.bb{float: right;margin-top: 146px;}
.bbb{float: right;margin-top: 146px;margin-right: 41px;}
.fzi{margin: auto; width: 1200px; height: 59px; color: white; line-height: 59px;  font-size: 15px;}

