*{margin: 0 ; padding: 0;}

.auto1{width: 1200px; height: 73px; margin: auto; }
.header{width: 100%; height: 73px;/* border: 1px solid red;*/ background-color: #ffffff; cursor: pointer;}
.header ul{list-style: none; line-height: 73px;  display: block;clear: both;content: ".";}
.header ul li{ float: left; }
.header a{text-decoration: none; color: #2c2c2c; font-size: 16px; font-family: "微软雅黑";}
.header1{width: 100%; height: 40px; background-color: #d8d8d8;}
.chanpin{margin: auto; width: 1200px; height: 36px; font-size: 16px; color: #8D8D8D; line-height: 36px;}
.tu1{width: 163px; height: 72px; }
.zi{margin-left: 55px; }
.tu2{width: 137px; height: 72px;margin-left: 420px;}
.tu2 img{margin-top: -2px;}

/*中间*/
.main{width: 100%; height: 887px; background-color: #f4f4f4;}
.main_auto{display: flex;justify-content: space-between; margin: auto; width: 1200px; height: 856px; }
.left{width: 153px; height: 440px; background-color: white; border: 1px solid #D8D8D8;}
.left ul{list-style: none;}
.left li{  margin-top: 16px; color: #2C2C2C; width: 141px; height: 32px;font-size: 14px; text-align: center;}
.xian{  border: 1px solid #D8D8D8; width: 130px; height: 1px;margin: auto; background-color: #D8D8D8;}
p{width: 130px; height: 20px;}
.right{width: 1017px; height: 833px;}
.right1{width: 1016px; height: 493px;}
.right2{display: flex;justify-content: space-around; margin-top: 11px; width: 1016px; height: 276px; border: 1px solid #888888; background-color: white;border-radius: 20px 20px 20px 20px;}
.right2a{ margin-top:15px;width: 320px; height: 245px; }
.right2a2{width: 310px; height: 30px; line-height: 30px; font-size: 14px;}
.shuxian{margin-top: 15px; width: 1px; height: 205px; background-color: #8D8D8D;}

.right3a{display: inline-block; border: 1px solid #8D8D8D; margin-top: 10px; margin-left:800px;width: 92px; height: 34px; font-size: 35px; text-align: center;line-height: 25px;color: #8D8D8D;}
.right3b{display: inline-block; border: 1px solid #8D8D8D; margin-top: 10px; width: 92px; height: 34px; font-size: 35px; text-align: center;line-height: 25px;color: #8D8D8D;}










/*底部*/
.foot{ width: 100%; height: 330px; background-color: #f4f4f4; }
.auto7{width: 1200px; height: 330px; margin: auto;}
.foota{ height: 270px; width: 100%;background-color: #f4f4f4; }
.footb{ width: 100%; height: 59px; background-color: #888888;}
.footc{float: left;}
.foot ul{margin-top: 30px; list-style: none; }
.foot li{ margin-top: 13px;}
.footc1{font-size: 18px; }
.footc2{font-size: 20px; color: #4c9786;}
.footc4 div{width: 142px; height: 1px; background-color: #338c79;}
.footc3{line-height: 20px;  font-size: 13px; width: 360px; height: 20px; }


.xiao{margin-left: 20px; margin-top: -27px; line-height: 22px; /*display: inline;*/ width: 300px; height: 22px;  }
.bb{float: right;margin-top: 146px;}
.bbb{float: right;margin-top: 146px;margin-right: 41px;}
.fzi{margin: auto; width: 1200px; height: 59px; color: white; line-height: 59px;  font-size: 15px;}










